* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Quicksand','Arial';
    font-weight: 300;
    font-size:20px;
    text-rendering: optimizeLegibility;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:black;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}
 h2{
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
 }

 #headway{
     margin-left: 200px;
 }

 h2:after {
    display: block;
    height: 2px;
    background-color: blue;
    content: " ";
    width: 100px;
    margin: 0 auto;
 }

h1,h2,h3{
    font-weight:300;
    text-transform:uppercase;
}


.navi-menu img#logo{
   height: 30%;
   width:13%;
   float: left;
   margin-top: 10px;
   margin-left: -60px;
   margin-bottom: 10px;
}



.long-text {
    text-align:center;
    line-height: 145%;
    width:50%;
    margin-left:25%;
    margin-bottom: 30px;
    font-weight: bold;
}


.navi-menu {
    max-width:1180px;
    margin-right: 145px;
    margin-left: 165px;
}

.main-menu {
    float: right;
    list-style: none;
    margin-top: 60px;
}



.main-menu li {
    display: inline-block;
    margin-left: 40px;

}

.main-menu {
    margin-top:30px;
    margin-right: -60px;

}



.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #3b5998;
    box-shadow: 0 1.5px 1.5px #2b1315;

}

.sticky .main-menu li a:link,
.sticky .main-menu li a:visited{
color: #fff;
padding: 2px 0;


}

.main-menu{margin-top: 15px;}

.main-menu li a:link,
.main-menu li a:visited{
color: #fff;
text-decoration: none;
font-size: 24px;
border-bottom: 2px solid transparent;
transition: border-bottom 0.2s;


}

.main-menu li.onsite a{
    border-bottom: 3px solid #fff;
    margin-right: 10px;
    margin-left: 10px;
}

.main-menu li a:hover,
.main-menu li a:visited {
    border-bottom: 3px solid #fff;
}




.intro {
    position: absolute;
    width: 1140px;
    top: 35%;
    left: 50%;
    transform: translate(-53%,-50%);
}

a:link,
a:active {
    color: #d64747;
    text-decoration: none;
}

.Bmoved:link,
.Bmoved:visited {
    display: inline-block;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.active:link,
.active:visited {
    border:3px solid #d64747;
    color:#fff;
    margin-right: 15px;
}

.Bmoved:hover,
.Bmoved:active {
    background-color: #d64747;
}

.active:hover,
.active:active {
    border: 2px solid #d64747;
    color: #fff;
}


.book-div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin:auto;
    padding: 0px 20px 0 20px;
    column-gap: 150px;
    
}

.column input,
.column select{
    width: 90%;
    height: 50px;
    border-radius:3px;
    font-family: inherit;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
    font-size: 16px;
}


.column .btn-primary{
    color: #fff;
    background-color: #3b5998;
    height: 50px;
    width: 60%;
    font-size: 23px;
    border-radius: 4px;
    cursor:pointer;
    font-family: inherit;
    margin-top: 60px;
    text-align: center;
}

.btn-primary:hover, 
.btn-parimay:active{
    background-color: red;
}


section {
    padding: 65px;

}    

footer{
    background-color:#3b5998;
    line-height:24px;
    color:#fff; 
}

.footer-whole{
    background-color: #3b5998;
    padding: 1px;
}


.footer-div {
    margin-top:2px;
    max-width:1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer-div a:link,
.footer-div a:visited{
    display: inline-block;
    padding-block: 16px;
    color:#c9c5c5;
    margin-right: 20px;
}

.footer-div a:hover,
.footer-div a:active{
    color:#717171;
}

section .media-links{
    font-size: 30px;
}

.Copy{
    margin-top:20px;
    margin-left: 27%;
    color:#c9c5c5
}

.Copy p{
    margin-bottom: 20px;
}

address { 
    display: block;
    font-style: italic;
  } 

