html{
    background-color: white;
    font-family: 'Quicksand';
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .login-page #logo{
    height: 40%;
    width:70%;
    margin-bottom: 20px;;
  }
  .form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
   
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: inherit;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  form button {
    font-family: inherit;
    text-transform: uppercase;
    outline: 0;
    background-color:  #3b5998;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }    
  
  form button:hover,
  form button:active{
    background-color: #3b5998;
  }

  .form-fill small{
    visibility: hidden;
  }


  .form-fill.success input {
    border: 2px solid #2ecc71;
}

  .form-fill.error input{
    border:  2px solid  #3b5998;
}

  .form-fill.error small{
    color:  #3b5998;
    visibility: visible;
}
